<div>    
    <h1>Импорт данных для таблиц цветов и размеров</h1>
    <div class="row">
        <div class="col-md-6">
            <!--<h3> Остаток на складе</h3>-->
            <div class="well">
                <div class="">
                    <div class="">
                        <!--<label class="btn btn-default">
                            Browse <input type="file" style="display: none;" id="fileOpenerStockOnHand" />
                        </label>-->

                        <h4>Остаток на складе</h4>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-dark">
                                    Browse&hellip; <input type="file" style="display: none;" multiple id="fileOpenerStockOnHand">
                                </span>
                            </label>
                            <input type="text" class="form-control" id="fileOpenerStockOnHandInp" readonly>                           
                        </div>
                        
                    </div>
                </div>
                <div style="margin-top:10px">
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                             ng-class="{ 'progress-bar-danger': vm.progressSoH < 50, 'progress-bar-warning': vm.progressSoH > 49 && vm.progressSoH < 100, 'progress-bar-success': vm.progressSoH == 100 }"
                             aria-valuenow="{{vm.progressSoH}}" aria-valuemin="0" aria-valuemax="100"
                             style="min-width: 2em; width:{{vm.progressSoH + '%'}}" async>
                            <span class="sr-only">{{vm.progressSoH + '% Complete'}}</span>
                            {{vm.progressSoH + '%'}}
                        </div>
                    </div>
                </div>
                <div>
                    <h4>Всего в наличии: {{vm.totalStockQty}}</h4>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!--<h3> Продажи по вариантам</h3>-->
            <div class="well">
                <div class="">
                    <div class="">
                        <!--<input type="file" id="fileOpenerVariantSales" />-->

                        <h4>Продажи по вариантам</h4>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-dark" ng-disabled="!vm.isParseSoHComplete">
                                    Browse&hellip; <input type="file" style="display: none;" multiple id="fileOpenerVariantSales" ng-disabled="!vm.isParseSoHComplete">
                                </span>
                            </label>
                            <input type="text" class="form-control" id="fileOpenerVariantSalesInp" readonly>
                        </div>
                    </div>
                </div>
                <div style="margin-top:10px">
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                             ng-class="{ 'progress-bar-danger': vm.progressVS < 50, 'progress-bar-warning': vm.progressVS > 49 && vm.progressVS < 100, 'progress-bar-success': vm.progressVS == 100 }"
                             aria-valuenow="{{vm.progressVS}}" aria-valuemin="0" aria-valuemax="100"
                             style="min-width: 2em; width:{{vm.progressVS + '%'}}" async>
                            <span class="sr-only">{{vm.progressVS + '% Complete'}}</span>
                            {{vm.progressSVS + '%'}}
                        </div>
                    </div>
                </div>
                <div>
                    <h4>Всего продано: {{vm.totalSalesQty}}</h4>
                </div>
            </div>
        </div>
        
    </div>

    <div>
        <h1>Импорт данных для аналитики истории продаж</h1>
        <div class="well">
            <div>
                <h4>История продаж</h4>
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-dark">
                            Browse&hellip; <input type="file" style="display: none;" multiple id="fileOpener">
                        </span>
                    </label>
                    <input type="text" class="form-control" id="fileOpenerInp" readonly>
                </div>
            </div>

            <div style="margin-top:10px">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                         ng-class="{ 'progress-bar-danger': vm.progress < 50, 'progress-bar-warning': vm.progress > 49 && vm.progress < 100, 'progress-bar-success': vm.progress == 100 }"
                         aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100"
                         style="min-width: 2em; width:{{vm.progress + '%'}}" async>
                        <span class="sr-only">{{vm.progress + '% Complete'}}</span>
                        {{vm.progress + '%'}}
                    </div>
                </div>
            </div>
            <div class="row" ng-show="vm.isParseComplete">
                <div class="text-center">
                    <button class="btn btn-success" ui-sref='model'>go models!</button>
                    <button class="btn btn-success" ui-sref='sizes'>go sizes!</button>
                    <button class="btn btn-success" ui-sref='colors'>go colors!</button>
                </div>
            </div>
        </div>
    </div>
    
    <form action="#" class="dropzone dz-clickable" id="uberForm" ng-show="false">
        <div class="dz-default dz-message">
            <span>
                Drop files here to upload
            </span>
        </div>
    </form>    
</div>

<!--<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Импорт данных <small>Загрузите .csv файл</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a></li>
                            <li><a href="#">Settings 2</a></li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Импорт данных <small>Загрузите .csv файл</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a></li>
                            <li><a href="#">Settings 2</a></li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                
                <form action="/file-upload"
                      class="dropzone"
                      id="file">
                    
                </form>
                
                
            </div>
        </div>
    </div>
</div>-->
