<div ng-controller="TablesController as vm">    

    <div class="btn-group" role="group">
        <button type="button" 
                ng-repeat="m in vm.structuredDataSoH track by $index"
                class="btn" ng-class="{'btn-dark': vm.btnsArrCss[$index], 'btn-default': !vm.btnsArrCss[$index]}"
                ng-click="vm.showModel(m[0][0].Product, m, $index)">
            {{m[0][0].Product}}
        </button>               
    </div>
       
    <div class="row" style="margin-top:10px"
         ng-repeat="model in vm.viewArr track by $index">   

        <div class="well table-well">
            <h1 class="text-center">{{model[0][0].Product}}</h1>
            <h2 class="text-left">ОСТАТОК НА СКЛАДЕ</h2>
            <table class="table table-bordered table-condensed">
                <thead class="table-head">
                    <tr>
                        <th>{{model[0][0].Product}}</th>
                        <th ng-repeat="size in model[0]">{{size.Size}}</th>
                        <th>Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="color in model track by $index">
                        <th>{{color[0].Color}}</th>
                        <td ng-repeat="j in color track by j.SKU">
                            <span>
                                <span>{{j.InStock}}</span>
                            </span>
                        </td>
                        <th>
                            {{vm.viewArrSum[model[0][0].Product][color[0].Color].SoH}}
                        </th>
                    </tr>
                </tbody>
                <tfoot class="table-foot">
                    <tr>
                        <th>сумма, по размерам:</th>
                        <th ng-repeat="j in model[0] track by j.SKU"> {{vm.viewArrSum[model[0][0].Product][j.Size].SoH}} </th>
                        <th>
                            {{vm.viewArrSum[model[0][0].Product].SoHSum}}
                        </th>
                    </tr>
                </tfoot>
            </table>

            <h2 class="text-left">ПРОДАЖИ ПО ВАРИАНТАМ</h2>
            <table class="table table-bordered table-condensed">
                <thead class="table-head">
                    <tr>
                        <th>{{model[0][0].Product}}</th>
                        <th ng-repeat="size in model[0]">{{size.Size}}</th>
                        <th>Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="color in model track by $index">
                        <th>{{color[0].Color}}</th>
                        <td ng-repeat="j in color track by j.SKU">
                            <span>
                                <span>{{j.Sold}}</span>
                            </span>
                        </td>
                        <th>
                            {{vm.viewArrSum[model[0][0].Product][color[0].Color].Sold}}
                        </th>
                    </tr>
                </tbody>
                <tfoot class="table-foot">
                    <tr>
                        <th>сумма, по размерам:</th>
                        <th ng-repeat="j in model[0] track by j.SKU"> {{vm.viewArrSum[model[0][0].Product][j.Size].Sold}} </th>
                        <th>
                            {{vm.viewArrSum[model[0][0].Product].SoldSum}}
                        </th>
                    </tr>
                </tfoot>
            </table>

            <h2 class="text-left">CООТНОШЕНИЕ ПРОДАЖ К ОСТАТКУ</h2>
            <table class="table table-bordered table-condensed">
                <thead class="table-head">
                    <tr>
                        <th>{{model[0][0].Product}}</th>
                        <th ng-repeat="size in model[0]">{{size.Size}}</th>
                        <th>Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="color in model track by $index">
                        <th>{{color[0].Color}}</th>
                        <td ng-repeat="j in color track by j.SKU">
                            <span>
                                <span>{{vm.getRatio(j.InStock, j.Sold)}}</span>
                            </span>
                        </td>
                        <th>
                            {{vm.getRatio(vm.viewArrSum[model[0][0].Product][color[0].Color].SoH, vm.viewArrSum[model[0][0].Product][color[0].Color].Sold)}}
                        </th>
                    </tr>
                </tbody>
                <tfoot class="table-foot">
                    <tr>
                        <th>сумма, по размерам:</th>
                        <th ng-repeat="j in model[0] track by j.SKU"> {{vm.getRatio(vm.viewArrSum[model[0][0].Product][j.Size].SoH, vm.viewArrSum[model[0][0].Product][j.Size].Sold)}} </th>
                        <th>
                            {{vm.getRatio(vm.viewArrSum[model[0][0].Product].SoHSum, vm.viewArrSum[model[0][0].Product].SoldSum)}}
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>

        
    </div>
</div>

